<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form class="form-horizontal" action='' method="POST">

        <table class="table">

                <tr>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Supply Manufacturer</th>
                        <th>Company</th>
                        <th>Company Representative</th>
                        <th>Company Phone Number</th>
                        <th>Quantity</th>
                        <th>Quantity</th>
                        <th>Cost</th>

                </tr>

                <tr th:each="supplies : ${supplies}">
                        <td th:text="${supplies.productName}"></td>
                        <td th:text="${supplies.categoryName}"></td>
                        <td th:text="${supplies.supplyManufacturer}"></td>
                        <td th:text="${supplies.company}"></td>
                        <td th:text="${supplies.companyRepresentative}"></td>
                        <td th:text="${supplies.companyPhoneNumber}"></td>
                        <td th:text="${supplies.quantity}"></td>
                        <td th:text="${supplies.caseQuantity}"></td>
                        <td th:text="${supplies.cost}"></td>

                </tr>

        </table>


</form>
        <footer th:replace="fragments :: footer"></footer>
</body>
</html>