<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<div class="container">
    <div class="alert alert-danger" role="alert" th:if="${param.error}">
        The email or password is incorrect!
    </div>
<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div id="legend">
            <legend class="">Add Supply</legend>
        </div>

        <div class="control-group">
            <label class="control-label" for="productName">Product Name</label>
            <div class="controls">
                <input type="text" id="productName" name="productName" placeholder="" class="input-xlarge">
                <!--<p class="help-block">Please provide your E-mail</p>-->

        <label>Category</label>
        <select name = "categoryName">
            <option value = "paper" text = "paper">Paper</option>
            <option value = "plastic" text = "plastic">Plastic</option>
            <option value = "chemical" text = "chemical">Chemical</option>
            <option value = "misc" text = "misc">Misc</option>
        </select>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label"  for="supplyManufacturer">Supply Manufacturer</label>
            <div class="controls">
                <input type="text" id="supplyManufacturer" name="supplyManufacturer" placeholder="" class="input-xlarge">
               <!--<p class="help-block">Please confirm password</p>-->
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"  for="company">Company</label>
            <div class="controls">
                <input type="text" id="company" name="company" placeholder="" class="input-xlarge">
                <!--<p class="help-block">Please confirm password</p>-->
            </div>
        </div>

        <div class="control-group">
        <label class="control-label"  for="companyRepresentative">Company Representative</label>
        <div class="controls">
            <input type="text" id="companyRepresentative" name="companyRepresentative" placeholder="" class="input-xlarge">
            <!--<p class="help-block">Please confirm password</p>-->
            </div>
        </div>


            <div class="control-group">
                <label class="control-label"  for="companyPhoneNumber">Company Phone Number</label>
                <div class="controls">
                    <input type="text" id="companyPhoneNumber" name="companyPhoneNumber" placeholder="" class="input-xlarge">
                    <!--<p class="help-block">Please confirm password</p>-->
                </div>
            </div>

        <div class="control-group">
            <label class="control-label"  for="quantity">Quantity</label>
            <div class="controls">
                <input type="text" id="quantity" name="quantity" placeholder="" class="input-xlarge">
                <!--<p class="help-block">Please confirm password</p>-->

            <label>Case Quantity</label>
            <select name = "caseQuantity">
                <option value = "case of 6" text = "case of 6">case of 6</option>
                <option value = "Each" text = "Each">Each</option>
                <option value = "case of 12" text = "case of 12">case of 12</option>
            </select>
        </div>
        </div>

        <div class="control-group">
            <label class="control-label"  for="cost">Cost</label>
            <div class="controls">
                <input type="text" id="cost" name="cost" placeholder="" class="input-xlarge">
                <!--<p class="help-block">Please confirm password</p>-->
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-primary" type="submit">Enter</button>
                <a th:href="@{/list/stock}"  class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>



<footer th:replace="fragments :: footer"></footer>
</body>
</html>