<!DOCTYPE HTML>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<h2><a href="/list/stock">Supplies in Stock</a></h2>

    <script>
window.onload = function() {
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
<!--	title: {-->
<!--		text: "Supplies in Stock"-->
<!--	},-->
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: 41.45, label: "Paper"},
			{y: 32.31, label: "Plastic"},
			{y: 20.06, label: "Chemicals"},
			{y: 6.18, label: "Misc"},
		]
	}]
});
chart.render();

}
</script>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>
